/**** 整体样式 start ****/
body{
  background:#e8e8e8;
}
nav{
  width: 1280px;
  height: 30px;
  overflow: hidden;
  margin:15px auto;
  position: relative;
}
section{
  width: 1280px;
  min-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
/**** 整体样式 end ****/
/**** 3.行程表样式 start ****/
#shopping-cart{
  margin-top:30px;
}
#shopping-cart>div.title{
  display:flex;
  justify-content:space-between;
}
#shopping-cart>div.title>b{
  font:18px "微软雅黑";
  font-weight:bold;
  color:#333;
}
#shopping-cart .total{
  font-size:14px;
  padding:0 3px;
  font-weight:bold;
}
.color{
  color:#FF6600;
}
#shopping-cart .totalPrices{
  padding-left:8px;
  font-size:16px;
  font-weight:bold;
}
#box{
  margin-bottom:100px;
}
#content-box>div.imfor-top{
  height:36px;
  line-height:36px;
  background:linear-gradient(to bottom,#f5f4f5,#e6e6e5);
  box-shadow:3px 3px 6px #ccc;
  border-top:1px solid #bbb;
  margin:10px 0 16px;
  display:flex;
  text-align:center;
  /*color:#808080;*/
}
#content-box div.check-top{
  width:62px;
  border-left:1px solid #ddd;
}
#content-box div.product-top{
  width:655px;
  border-left:1px solid #ddd;
}
#content-box div.price-top{
  width:142px;
  border-left:1px solid #ddd;
}
#content-box div.num-top{
  width:140px;
  border-left:1px solid #ddd;
}
#content-box div.total-top{
  width:120px;
  border-left:1px solid #ddd;
}
#content-box div.del-top{
  width:150px;
  border-left:1px solid #ddd;
}
#content-box div.imfor{
  height:115px;
  margin-bottom:5px;
  background:#fff;
  border:1px solid #e8e8e8;
  display:flex;
  position:relative;
}
#content-box div.check{
  width:62px;
  line-height:115px;
  text-align: center;
  border-left: 1px solid #ddd;
}
#content-box div.check img{
  position:absolute;
  top:49px;
  left:27px;
}
#content-box div.product{
  width:655px;

  border-left: 1px solid #ddd;
}
#content-box div.product>a{
  float:left;
  margin:18px 5px 0;
}
#content-box div.product>a>img{
  width:120px;
  height:80px;
}
#content-box div.product>span{
  float:left;
  width:450px;

  margin-top:18px;
}
#content-box div.product>span>a{
  height:40px;
  line-height: 20px;
}
#content-box div.product p.col{
  float:left;
  margin-top:10px;
}
#content-box div.price{
  text-align:center;
  width:142px;
}
#content-box div.product~div{
  border-left:1px solid #ddd;
}
#content-box div.price p.price-desc{
  margin-top:40px;
  font-weight:bold;
  color:#FF6600;
  box-sizing:border-box;
}
#content-box div.num{
  width:140px;
}
#content-box div.num span{
  /*display:inline-block;*/
  /*width:24px;*/
  /*height:24px;*/
  /*border:1px solid #bbb;*/
  /*background:#e8e8e8;*/
  /*text-align:center;*/
  /*line-height:24px;*/
  /*color:#444;*/
  float:left;
  /*margin-top:43px;*/
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  border:1px solid #ddd;
  border-radius: 5px;
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.5);
  vertical-align:middle;
  font-size:14px;
}
#content-box div.num span.reduce{
  margin:43px 2px 0 20px;
}
#content-box div.num span.add{
  margin:43px 0 0 3px;
}
#content-box div.num input{
  /*width:17px;*/
  /*height:22px;*/
  /*padding-left:9px;*/
  /*font:12px simhei;*/
  /*border:1px solid #bbb;*/
  /*border-left:none;*/
  /*border-right:none;*/
  float:left;
  margin-top:43px;
  width:32px;
  height:32px;
  /*border:1px solid #ddd;*/
  border-radius: 5px;
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align:center;
  font-size:14px;
  box-sizing:border-box;
}
#content-box div.total-price{
  text-align:center;
  line-height:115px;
  width:120px;
}
#content-box div.del{
  width:150px;
  text-align:center;
  line-height:115px;
}
#content-box div.del a{
  display: inline-block;
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin:0 5px;
  /* border: 1px solid #fff; */
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  /*font-size: 20px;*/
}
#content-box div.del a.del-btn,#content-box div.del a.coll-btn{
  background: linear-gradient(to bottom,#ff8e00,#FF6600);
  color: #fff;
}
#box div.foot{
  margin-top:30px;
  height:42px;
  line-height:42px;
  background:linear-gradient(to bottom,#f5f4f5,#e6e6e5);
  display:flex;
  justify-content:space-between;
}
#box div.foot>div{
  display:flex;
}
#box div.foot div.all{
  width:62px;
  text-align: center;
  /*cursor:pointer;*/
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#box div.foot a.sel-del{
  margin-left:10px;
}
#box div.foot div.foot-qk{
  height:23px;
  line-height:23px;
  width:110px;
  text-align:center;
  background:#ccc;
  color:#fff;
  margin-left:15px;
  cursor:pointer;
  align-self:center;
}
#box div.foot div.foot-selected{
  margin-right:15px;
}
#box div.foot span.totalOne{
  font-size:14px;
  font-weight:bold;
  margin:0 5px;
}
#box div.foot-tol{
  margin-right:15px;
}
#box div.foot-tol span+span{
  color:#FF6600;
  font-size:16px;
  font-weight:bold;
}
#box div.foot-cash{
  cursor:pointer;
  width:140px;
  height:42px;
  line-height:42px;
  background:linear-gradient(to bottom,#ff8e00,#FF6600);
  text-align:center;
  font-size:18px;
  color:#fff;
  border-radius:2px;
}
/**** 3.行程表样式 end ****/